
<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Email Finder by Leadnyze</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="Easily find any email address for free!"/>
        <meta property="og:site_name" content="Email Finder by Leadnyze"/>
        <meta property="og:title" content="Email Finder by Leadnyze"/>
        <meta property="og:image" content="img/email-finder.png"/>
        <meta property="og:url" content="https://leadnyze.herokuapp.com/"/>
        <meta property="og:locale" content="en_US"/>
        <meta name="og:description" content="Easily find any email address for free!"/>
        

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

        <link rel="stylesheet" href="css/main.css">
        <script>var continuallySettings = { appID: '69vrppk4rpxq' };</script>
<script src="https://cdn-app.continual.ly/js/embed/continually-embed.latest.min.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128679140-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-128679140-1');
</script>



<script type="text/javascript">
    window.smartlook||(function(d) {
    var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
    var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
    c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);
    })(document);
    smartlook('init', '18767e117f7ce4ec36ace349961c3629c4ac6f47');
</script>



    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        
              <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
          </nav>

          <div class="section">
            <div class="container">

              <div class="header center">
                <h1>Email Finder</h1>

                <div class="row center">
                  <h5 class="header col s12 light">Easily find any email address for free!</h5>
                </div>
              </div>
            </div>
          </div>

          <div class="section">
            <div class="container">

              <div class="row center">
                <h5 id="result" class="header col s12 light"></h5>
              </div>
            </div>
          </div>

          <div class="section">
            <div class="container">

              <div class="row">
                <form id="email-form" class="col s12 l8 push-l2">

                  <div class="row">
                    <div class="input-field col s6">
                      <input placeholder="Elon" id="first_name" name="first_name" type="text" class="validate" data-error="Please enter a first name">
                      <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                      <input placeholder="Musk" id="last_name" name="last_name" type="text" class="validate" data-error="Please enter a last name">
                      <label for="last_name">Last Name</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="spacex.com" id="domain" name="domain" type="text" class="validate" data-error="Please enter a domain">
                      <label for="domain">Domain</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col s12">
                      <button class="btn waves-effect waves-light btn-large" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                      </button>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <p class="grey-text">Note: The system works best for work domains and may have difficultly finding personal emails (Gmail, Yahoo, etc).</p>
                    </div>
                  </div>

                  <div class="loading-cover">
                    <div class="sk-folding-cube">
                      <div class="sk-cube1 sk-cube"></div>
                      <div class="sk-cube2 sk-cube"></div>
                      <div class="sk-cube4 sk-cube"></div>
                      <div class="sk-cube3 sk-cube"></div>
                    </div>

                    <h4>Searching...</h4>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </div>
        <script type="text/javascript">
      (function(a,l,b,c,r,s){
        _nQc=c,r=a.createElement(l),s=a.getElementsByTagName(l)[0];
        r.async=1;
        r.src=l.src=("https:"==a.location.protocol?"https://":"http://")+b;
        s.parentNode.insertBefore(r,s);})
        (document,"script","serve.albacross.com/track.js","89876666");
    </script>
 <script src="https://my.hellobar.com/006f337074954d1f31ab41065665011192fb935f.js" type="text/javascript" charset="utf-8" async="async"></script>

        

        
                <br>

                <!-- Place this tag in your head or just before your close body tag. -->
                <script src="https://apis.google.com/js/platform.js" async defer></script>

                <!-- Place this tag where you want the widget to render. -->
                


        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create', '<%- GOOGLE_ANALYTICS_ID %>','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>
